spring:
  application:
    name: dungeoncrusherbot
  datasource:
    url: ${PG_URL}
    username: ${PG_USER}
    password: ${PG_PASSWORD}
    driver-class-name: org.postgresql.Driver
  liquibase:
      change-log: liquibase/changelog.yaml
      default-schema: dc_bot
  jpa:
      show-sql: false

telegram:
  name: ${TELEGRAM_BOT_NAME}
  token: ${TELEGRAM_BOT_TOKEN}
server:
  port: ${USE_PORT:8080}

logging:
  file:
    name: ./logs/bot.log

scheduler:
  cron:
    siege: "55 59 * ? * *"
    before-siege: "0 55 * ? * *"
    delete-old-notify: "0 0 * ? * *"
    clear-disable-notify: "0 0 0 ? * MON"
    clan-mine: "0 59 23,11 ? * *"
